*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #CBCE91FF, #EA738DFF); */
    
}
.container {
    width: fit-content;
    margin: 10vh auto;
    box-shadow: 0 0 5px rgb(93, 76, 180), 0 0 15px rgb(140, 148, 147);
    border-radius: 5px;
}
.calculator-buttons {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    width: 200px;
    margin: 0 auto;
    
}
.calculator-buttons button {
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    color: white;

}
.dark-button {
    background-color: rgba(30,35,38);
    font-size: 1.5rem;
}
.dark-button:hover {
    background-color: rgba(30,35,38,.80);
}
.border-radius {
    background-color: rgba(30,35,38);
    border-bottom-left-radius: 5px;
    font-size: 1.5rem;
}
.border-radius:hover {
    background-color: rgba(30,35,38,.80);
}
.span-2 {
    grid-column: span 2;
    background-color: rgba(30,35,38);
}
.span-2:hover {
    background-color: rgba(30,35,38,.80);
}
.purple-button {
    background-color: rgb(93, 76, 180);
    font-size: 1.5rem;
}
.purple-button:hover {
    background-color: rgb(93, 76, 180, .90);
}
#equal {
    background-color: rgba(254,194,8);
    border-bottom-right-radius: 5px;
    font-size: 1.5rem;
}
#equal:hover {
    background-color: rgba(254,194,8,0.8);
}
.display {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    height: 150px;
    margin: auto;
    word-wrap: break-word;
    word-break: break-all;
    background-color: white;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}
.previous-operand{
    font-size: 1rem;
}
.current-operand{
    font-size: 2rem;
}
