* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}
body {
    margin: 0;
    padding: 0;
   
}
.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(50px, auto) repeat(5, 50px);
    
}
.calculator button {
    cursor: pointer;
    font-size: 1.5 rem;
    border: 1px solid white;
    outline: none;
    
}
.number {
    background-color: rgba(30,35,38);
}
.number:hover {
    background-color: rgba(30,35,38,.80);
}
.span-2 {
    grid-column: span 2;
    background-color: rgba(30,35,38);
}
.span-2:hover {
    background-color: rgba(30,35,38,.80);
}
.display {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    box-shadow: 0 0 10px 1px grey;
}
.current-operand {
    font-size: 1.5rem;
}
.operand {
    background-color: rgb(93, 76, 180);
}
.operand:hover {
    background-color: rgb(93, 76, 180, .90);
}
.equal {
    background-color: rgba(254,194,8);
}
.equal:hover {
    background-color: rgba(254,194,8,.90);
}
