*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #CBCE91FF, #EA738DFF); */
    
}
.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(10vh, auto) repeat(5, 100px);
    width: 400px;
    margin: 5vh auto;
    box-shadow: 0 0 10px gray;
}

.calculator button {
    cursor: pointer;
    font-size: 3 rem;
    border: 1px solid white;
    outline: none;
    color: white;

}
.number {
    background-color: rgba(30,35,38);
}
.number:hover {
    background-color: rgba(30,35,38,.80);
}
.border-radius {
    background-color: rgba(30,35,38);
    border-bottom-left-radius: 5px;
}
.border-radius:hover {
    background-color: rgba(30,35,38,.80);
}
.span-2 {
    grid-column: span 2;
    background-color: rgba(30,35,38);
}
.span-2:hover {
    background-color: rgba(30,35,38,.80);
}
.operand {
    background-color: rgb(93, 76, 180);
}
.operand:hover {
    background-color: rgb(93, 76, 180, .90);
}
.equal {
    background-color: rgba(254,194,8);
    border-bottom-right-radius: 5px;
}
.equal:hover {
    background-color: rgba(254,194,8,0.8);
}
.display {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.previous-operand{
    font-size: 1rem;
}
.current-operand{
    font-size: 2.5rem;
}
